venv/
.venv/
docs.md
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
.env
.idea/
.vscode/
.DS_Store
dev_database.db
logs/
dump.rdb


node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
ctrip.egg-info/*
